.musicContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;

  // .spotlight {
  //   position: absolute;
  //   width: 150px;
  //   height: 500px;
  //   border-radius: 50%;
  //   background: radial-gradient(closest-side, #ff5f00, transparent);
  //   z-index: -1;
  //   transform: rotate(135deg);
  //   right: 0;
  // }

  > .ant-row {
    height: 100%;

    .bandContainer {
      width: 100%;

      .pictureContainer {
        display: flex;
        justify-content: center;
        img {
          width: 50%;
          -webkit-mask-image: -webkit-radial-gradient(
            closest-side,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0)
          );
          mask-image: radial-gradient(
            closest-side,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0)
          );
        }
      }

      .infosContainer {
        display: flex;
        flex-direction: column;

        h2,
        h3 {
          text-align: center;
        }
        p {
          padding: 2em 0;
        }
      }

      .tracksContainer {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.container {
  // position: absolute;
  width: 100%;
  // margin-top: 5em;
  height: 100%;
  display: flex;
  justify-content: center;
}

.vinylSVG {
  // position: absolute;
  // top: 10%;
  left: 0;
  width: 100%;
  visibility: hidden;
  background: "radial-gradient(closest-side, #ff5f00, black)";
}

.searchSVG {
  position: absolute;
  width: 100%;
}

text {
  font-size: 5px;
  font-family: Arial, sans-serif;
  fill: #ededed;
  letter-spacing: 1.25px;
  text-rendering: optimizeSpeed;
}

#image-container {
  // position: absolute;
  // width: 180px;
  // background-color: white;
  z-index: 2;
  margin-bottom: 2em;
}
#image-container img {
  border-radius: 50%;
}

#preview-container {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100px;
  position: absolute;
  background-color: #333333;
  visibility: hidden;
  z-index: 100;
}

#preview-container img {
  position: absolute;
  right: 0;
  width: 96px;
  height: 96px;
  padding: 2px;
}

#preview-container p {
  position: absolute;
  text-align: right;
  top: 6px;
  margin: 0;
  padding: 0;
  right: 110px;
  width: 330px;
  height: 60px;
  color: #ededed;
  font-size: 20px;
  letter-spacing: 1px;
}

.thumb {
  // border: 1px solid #c67d30;
  padding: 10px;
  opacity: 0.8;
}

.thumb:hover {
  opacity: 1;
}
#dragger {
  cursor: move;
}
