.aboutContainer {
  width: 100%;
  height: 100%;

  @media all and (max-width: 480px) {
    margin-top: 0;
  }
  @media all and (min-width: 480px) and (max-width: 576px) {
    margin-top: 2em;
  }

  @media all and (min-width: 576px) and (max-width: 992px) {
    margin-top: 3em;
  }

  .link {
    cursor: none;

    &:hover {
      cursor: none;
    }
  }

  .light {
    width: 100%;
    height: 12vw;
    background-image: url(/assets/img/light1.jpg);
    background-repeat: no-repeat;
    background-size: 11%;
    background-position: 0 0;
  }

  .abstract {
    padding-bottom: 3em;
    font-size: 1.5em;
    text-align: justify;

    @media all and (max-width: 480px) {
      font-size: 1.2em;
    }
    @media all and (min-width: 480px) and (max-width: 576px) {
      font-size: 1.3em;
    }

    @media all and (min-width: 576px) and (max-width: 992px) {
      font-size: 1.4em;
    }

    p {
      margin: 0;

      &:last-of-type {
        text-align: end;
      }
    }

    button {
      span {
        font-size: 2em;
        @media all and (max-width: 480px) {
          font-size: 1em;
        }
        @media all and (min-width: 480px) and (max-width: 576px) {
          font-size: 1.5em;
        }

        @media all and (min-width: 576px) and (max-width: 992px) {
          font-size: 1.8em;
        }
      }
    }
  }

  .laptop {
    display: flex;
    justify-content: center;
    div {
      position: absolute;
      width: 100%;
      height: 50vh;
      background-color: black;
      top: 0;
      right: 0;
      z-index: 1;
    }

    img {
      width: 100%;
      position: absolute;

      @media all and (min-width: 992px) and (max-width: 1200px) {
        width: 80%;
      }

      @media all and (min-width: 576px) and (max-width: 1600px) {
        width: 90%;
      }
    }
  }

  .aboutDevContainer {
    height: 100%;

    .ant-row {
      height: 100%;
    }

    .laptop2Container {
      width: 100%;
      @media all and (max-width: 480px) {
        height: 12em;
      }
      @media all and (min-width: 480px) and (max-width: 576px) {
        height: 12em;
      }

      @media all and (min-width: 576px) and (max-width: 992px) {
        height: 12em;
      }

      img {
        position: absolute;
        opacity: 0;
        left: -10%;
        width: 100%;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        padding-top: 14em;

        @media all and (max-width: 480px) {
          top: -12em;
          width: 70vw;
        }
        @media all and (min-width: 480px) and (max-width: 576px) {
          top: -15em;
          width: 60vw;
        }

        @media all and (min-width: 576px) and (max-width: 992px) {
          top: -20em;
          width: 60vw;
        }
      }
    }
    .aboutDev {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      .lightContainer {
        img {
          opacity: 0;
          width: 33%;
          position: absolute;
          top: 0;
          right: 0;
          z-index: -1;
          @media all and (max-width: 992px) {
            width: 0;
          }
        }
      }

      .devTextContainer {
        opacity: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 3em;

        text-align: justify;

        @media all and (min-width: 992px) and (max-width: 1200px) {
          max-width: 75%;
          padding: 0;
          margin-left: 2.5em;
        }

        @media all and (min-width: 1200px) {
          max-width: 50%;
          padding: 0;
          margin-left: 5em;
        }

        h2 {
          font-size: 2em;

          @media all and (max-width: 480px) {
            font-size: 1.5em;
          }
          @media all and (min-width: 480px) and (max-width: 576px) {
            font-size: 1.7em;
          }

          @media all and (min-width: 576px) and (max-width: 992px) {
            font-size: 1.85em;
          }
        }
        p {
          font-size: 1.2em;

          @media all and (max-width: 480px) {
            font-size: 1em;
          }
          @media all and (min-width: 480px) and (max-width: 576px) {
            font-size: 1.1em;
          }

          @media all and (min-width: 576px) and (max-width: 992px) {
            font-size: 1.2em;
          }
        }
      }
    }

    .btnContainer {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      position: relative;
      top: 0;

      button {
        span {
          font-size: 2em;
          @media all and (max-width: 480px) {
            font-size: 1em;
          }
          @media all and (min-width: 480px) and (max-width: 576px) {
            font-size: 1.5em;
          }

          @media all and (min-width: 576px) and (max-width: 992px) {
            font-size: 1.8em;
          }
        }
      }
    }
  }

  .aboutMusicContainer {
    height: 100%;
    width: 100%;

    > img {
      padding-top: 2em;
      width: 15%;
      opacity: 0;
      transform: scale(0);
      right: -20%;
      position: absolute;
      z-index: -1;

      @media all and (max-width: 480px) {
        width: 20%;
        padding-top: 0;
        top: 3em;
      }
      @media all and (min-width: 480px) and (max-width: 576px) {
        width: 20%;
        padding-top: 0;
        top: 4em;
      }

      @media all and (min-width: 576px) and (max-width: 992px) {
        width: 15%;
        padding-top: 0;
        top: 4em;
      }
    }

    .ant-row {
      height: 100%;
    }

    .pianoContainer {
      img {
        position: absolute;
        width: 80%;
        bottom: 0;
        right: 0;
        z-index: -1;
        opacity: 0;
        left: 10%;
        position: absolute;
        z-index: -1;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }

    .musicTextContainer {
      opacity: 0;
      padding-left: 2em;
      padding-right: 2em;
      padding-top: 5em;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: justify;
      @media all and (min-width: 992px) and (max-width: 1200px) {
        max-width: 75%;
        // padding: 0;
        margin-left: 12.5%;
      }

      @media all and (min-width: 1200px) {
        max-width: 60%;
        // padding: 0;
        margin-left: 25%;
      }

      h2 {
        font-size: 2em;
        @media all and (max-width: 480px) {
          font-size: 1.5em;
        }
        @media all and (min-width: 480px) and (max-width: 576px) {
          font-size: 1.7em;
        }

        @media all and (min-width: 576px) and (max-width: 992px) {
          font-size: 1.85em;
        }
      }
      p {
        font-size: 1.2em;

        @media all and (max-width: 480px) {
          font-size: 1em;
        }
        @media all and (min-width: 480px) and (max-width: 576px) {
          font-size: 1.1em;
        }

        @media all and (min-width: 576px) and (max-width: 992px) {
          font-size: 1.2em;
        }
      }
    }
  }
}
