.aboutContainer {
  margin-top: 5em;
  width: 100%;
  height: 100%;

  .light {
    width: 100%;
    height: 12vw;
    background-image: url(/assets/img/light1.jpg);
    background-repeat: no-repeat;
    background-size: 11%;
    background-position: 0 0;
  }

  .abstract {
    padding-bottom: 3em;
    font-size: 1.5em;

    p {
      margin: 0;

      &:last-of-type {
        text-align: end;
      }
    }
  }

  .laptop {
    div {
      position: absolute;
      width: 100%;
      height: 50vh;
      background-color: black;
      top: 0;
      right: 0;
      z-index: 1;
    }

    img {
      width: 100%;
      position: absolute;
    }
  }

  .aboutDevContainer {
    height: 100%;

    .ant-row {
      height: 100%;
    }

    .laptop2Container {
      width: 100%;
      img {
        position: absolute;
        opacity: 0;
        left: -10%;
      }

      img {
        width: 100%;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        padding-top: 12em;
      }
    }
    .aboutDev {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      .lightContainer {
        img {
          opacity: 0;
          width: 33%;
          position: absolute;
          top: 0;
          right: 0;
          z-index: -1;
        }
      }

      .devTextContainer {
        opacity: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}
