.titleContainer {
  font-family: "Permanent Marker", cursive;
  position: absolute;
  color: #c67d30;
  height: auto;
  width: auto;
  z-index: 1;
  font-size: 2em;
  top: 40%;
  text-align: center;

  @media all and (max-width: 360px) {
    font-size: 1.5em;
  }

  .wordContainer {
    width: auto;

    > .link {
      padding-right: 0.1em;
      &:hover {
        cursor: pointer;
        background: radial-gradient(closest-side, #820000, black);
      }

      &:nth-child(4) {
        padding: 0;
      }

      div {
        display: inline;
        span {
          padding: 0;
        }
      }
    }
  }
}
