.contactContainer {
  padding-top: 3em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  // background-image: url(/assets/img/phone.jpg);
  // background-size: 41%;
  // background-repeat: no-repeat;
  // background-position: 100% 100%;

  .link {
    cursor: none;
    &:hover {
      cursor: none;
    }
  }

  button {
    cursor: none;
    &:hover {
      cursor: none;
    }
  }

  canvas {
    position: absolute;

    @media all and (max-width: 480px) {
      top: 0;
    }
    @media all and (min-width: 480px) and (max-width: 576px) {
      // height: 12em;
    }

    @media all and (min-width: 576px) and (max-width: 992px) {
      // height: 12em;
    }
    cursor: none;

    &:hover {
      cursor: none;
    }
  }

  div {
    position: absolute;
    z-index: 1;

    button {
      color: black;
    }
  }
}
.btnContainer {
  height: 20%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 10%;
}

.linkButton {
  position: absolute;
  left: 120%;
  top: 20%;
  opacity: 0;

  button {
    z-index: 3;
  }
}

.illustration {
  position: absolute;
  width: auto;
  height: 50%;
  bottom: 0;
  right: 0;
  // -webkit-mask-image: radial-gradient(closest-side, #000000, rgba(0, 0, 0, 0));
  mask-image: radial-gradient(closest-side, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));

  &::selection {
    background: none;
  }
}
