.gitContainer {
  padding: 2em;
  height: 100%;
  width: 100%;

  > .ant-row {
    height: 100%;

    .arrowRight {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      z-index: 2;
      margin-left: 2em;
    }
    .arrowLeft {
      display: flex;
      justify-content: flex-end;
    }

    .lightLetters {
      position: absolute;
      z-index: 0;
      width: 100%;
    }
  }

  .reposContainer {
    height: 100%;
    width: 100%;
    margin: 4em 0 0 2em;

    .repoRevealPrev {
      width: 100%;
      height: 0;
      background-color: black;
      position: absolute;
      z-index: 1;

      .octocat {
        width: 20%;
        padding-left: 1em;
      }

      .prevTitle {
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        font-size: 2em;
        opacity: 0;
      }
    }

    .repoRevealNext {
      width: 100%;
      height: 0;
      background-color: black;
      position: absolute;
      z-index: 1;

      .octocat {
        width: 20%;
        padding-left: 1em;
      }

      .nextTitle {
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        font-size: 2em;
        opacity: 0;
      }
    }
  }
}
