.devContainer {
  width: 100%;
  height: 100%;
  opacity: 0;
  .link {
    cursor: none;
    &:hover {
      cursor: none;
    }
  }

  &:before {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    z-index: -1;
    background-image: url(/assets/img/leaf.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    background-position: 100% 0;
  }

  .window {
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: -1;
  }

  > .ant-row {
    margin-top: 3em;
    height: 100%;

    .mockupContainer {
      opacity: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .mockup {
        width: 100%;
        height: auto;
        padding-top: 20vh;
      }

      .box {
        display: flex;
        justify-content: center;

        canvas {
          padding-left: 4em;
        }
      }
    }

    .infosContainer {
      padding-top: 20vh;
      padding-bottom: 2em;

      .titleReveal {
        opacity: 1;
        background-color: black;
        width: 60%;
        height: 5em;
        position: absolute;
        z-index: 1;
        left: -2em;
      }

      .companyReveal {
        opacity: 1;
        background-color: black;
        width: 60%;
        height: 3em;
        position: absolute;
        z-index: 1;
        left: 0;
      }

      .dateReveal {
        opacity: 1;
        background-color: black;
        width: 60%;
        height: 3em;
        position: absolute;
        z-index: 1;
        left: 0;
      }

      .stackReveal {
        opacity: 1;
        background-color: black;
        width: 90%;
        height: 6em;
        position: absolute;
        z-index: 1;
        left: 0;
      }

      .descriptionReveal {
        opacity: 1;
        background-color: black;
        width: 100%;
        height: 20em;
        position: absolute;
        z-index: 1;
        left: 0;
      }

      h2 {
        font-size: 3em;
        opacity: 0;
      }

      h3 {
        font-size: 2em;
        margin-bottom: 0;
        opacity: 0;
      }

      span {
        font-size: 1.5em;
        opacity: 0;
        b {
          font-size: 2rem;
          font-weight: initial;
          margin-right: 0.5em;
        }
      }
      p {
        opacity: 0;
        margin-top: 2em;
        font-size: 1.2em;
        // padding-top: 2em;
      }
    }

    .arrowsContainer {
      display: flex;
      justify-content: space-evenly;
      font-size: 0em;
    }
  }
}
