@import "~antd/dist/antd.dark.less";
// titles
// font-family: 'Permanent Marker', cursive;
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
// text
// font-family: 'Patua One', cursive;
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-family: "Patua One", cursive;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  .homeContainer {
    width: 100%;
    height: 100%;
  }
}
