@import "~antd/dist/antd.dark.less";
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.App {
  height: 100%;
  width: 100%;
  font-family: "Arvo", serif;

  .titleContainer {
    position: absolute;
    color: #ffcc00;
    z-index: 1;
  }

  .particlesContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
}
